/* General Reset and Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Inconsolata:wdth,wght@112.5,200..900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

body {
  font-family: "Inconsolata", monospace;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8)
}

.bg-cream {
  background: #dfd6c7;
  font-size: 19px;
}